In [1]:
import pandas as pd
import numpy as np

In [3]:
stat = pd.read_csv('../raw_data/teamstats.csv')

In [4]:
stat

,gameID,teamID,season,date,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result
0,81,89,2015,2015-08-08 15:45:00,h,1,0.627539,9,1,4,13.8261,12,1,2.0,0,W
1,81,82,2015,2015-08-08 15:45:00,a,0,0.674600,9,4,10,8.2188,12,2,3.0,0,L
2,82,73,2015,2015-08-08 18:00:00,h,0,0.876106,11,2,11,6.9000,13,6,3.0,0,L
3,82,71,2015,2015-08-08 18:00:00,a,1,0.782253,7,3,2,11.8462,13,3,4.0,0,W
4,83,72,2015,2015-08-08 18:00:00,h,2,0.604226,10,5,5,6.6500,7,8,1.0,0,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25355,16133,235,2020,2021-05-23 19:00:00,a,0,0.357583,9,2,0,39.7273,10,3,0.0,0,L
25356,16134,175,2020,2021-05-23 19:00:00,h,0,1.460500,19,5,6,7.5600,13,9,1.0,0,L
25357,16134,181,2020,2021-05-23 19:00:00,a,1,1.380290,10,2,3,14.7200,10,3,0.0,0,W
25358,16135,225,2020,2021-05-23 19:00:00,h,1,0.323960,6,2,1,15.1000,17,2,1.0,0,D
25359,16135,179,2020,2021-05-23 19:00:00,a,1,0.521913,7,1,0,15.9524,9,3,1.0,0,D

In [24]:
import datetime
stat = stat.sort_values(by='date')
teamID = 164
match_date = datetime.datetime(2015,1,9)
n_match = 5

In [26]:
team_stat = stat[stat['teamID'] == teamID]

In [78]:
team_stat['date'] = pd.to_datetime(team_stat['date'])
team_stat[team_stat['date'] < match_date]

/tmp/ipykernel_23520/2699802607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_stat['date'] = pd.to_datetime(team_stat['date'])

,gameID,teamID,season,date,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result
10877,6186,164,2014,2014-08-09 20:00:00,a,3,1.31751,9,4,1,4.7826,21,4,1.0,0,D
10908,6202,164,2014,2014-08-17 16:00:00,h,0,1.10223,22,5,7,5.1852,18,6,1.0,0,L
10917,6206,164,2014,2014-08-23 16:00:00,a,1,0.708459,16,3,3,8.0,14,6,3.0,0,W
10934,6215,164,2014,2014-08-29 19:30:00,h,4,4.68663,20,8,7,6.8929,12,11,1.0,0,W
10813,6154,164,2014,2014-09-14 20:00:00,a,3,1.12115,6,3,2,8.1739,11,3,0.0,0,W
10816,6156,164,2014,2014-09-20 16:00:00,h,3,1.4979,16,7,6,7.0385,16,7,1.0,0,W
10835,6165,164,2014,2014-09-23 18:00:00,a,5,3.62665,21,11,7,8.125,14,6,1.0,0,W
10872,6184,164,2014,2014-09-28 20:00:00,h,2,1.12373,15,8,4,7.6552,8,6,1.0,0,W
10735,6115,164,2014,2014-10-04 16:00:00,a,2,2.73148,22,9,8,4.4167,11,9,1.0,0,W
10766,6131,164,2014,2014-10-19 13:00:00,h,2,1.15665,15,5,4,6.2813,17,9,2.0,0,W
10791,6143,164,2014,2014-10-26 20:00:00,a,0,1.13587,11,4,2,6.32,19,3,3.0,0,L
10672,6084,164,2014,2014-11-02 20:00:00,h,2,1.5579,15,6,6,6.3462,12,9,2.0,1,W
10693,6094,164,2014,2014-11-09 20:00:00,a,0,0.757773,17,2,5,5.359,12,8,0.0,1,L
10710,6103,164,2014,2014-11-23 20:00:00,h,3,3.01008,26,12,7,5.6087,11,4,0.0,0,W
10712,6104,164,2014,2014-11-28 19:30:00,h,2,0.769279,15,4,4,4.3571,9,5,1.0,0,W
10577,6036,164,2014,2014-12-02 18:00:00,a,1,1.93231,16,8,8,7.9524,14,5,1.0,0,D
10614,6055,164,2014,2014-12-07 20:00:00,h,3,1.84578,16,7,10,7.875,9,4,0.0,0,W
10635,6065,164,2014,2014-12-14 20:00:00,a,0,1.47031,10,3,3,3.4571,16,8,2.0,0,L
10650,6073,164,2014,2014-12-21 13:00:00,h,2,1.30672,13,1,4,5.3478,16,10,1.0,0,W

In [48]:
stat_5_match = team_stat[team_stat['date'] < match_date].tail(n_match).sum()

/tmp/ipykernel_23520/1493153064.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  stat_5_match = team_stat[team_stat['date'] < match_date].tail(5).sum()

In [52]:
stat_5_match.drop(['gameID','season'],inplace=True)

In [75]:
stat_5_match.values.reshape(1,-1)

array([[820, 'hahah', 8, 7.324399, 70, 23, 29, 28.9894, 64, 32, 5.0, 0,
        'WDWLW']], dtype=object)

In [76]:
pd.DataFrame(stat_5_match.values.reshape(1,-1),columns=stat_5_match.index)

,teamID,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result
0,820,hahah,8,7.324399,70,23,29,28.9894,64,32,5.0,0,WDWLW