In [102]:
import pandas as pd
import numpy as np
import datetime
import os

In [117]:
stat = pd.read_csv('../raw_data/teamstats.csv').copy()

In [118]:
stat

,gameID,teamID,season,date,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result
0,81,89,2015,2015-08-08 15:45:00,h,1,0.627539,9,1,4,13.8261,12,1,2.0,0,W
1,81,82,2015,2015-08-08 15:45:00,a,0,0.674600,9,4,10,8.2188,12,2,3.0,0,L
2,82,73,2015,2015-08-08 18:00:00,h,0,0.876106,11,2,11,6.9000,13,6,3.0,0,L
3,82,71,2015,2015-08-08 18:00:00,a,1,0.782253,7,3,2,11.8462,13,3,4.0,0,W
4,83,72,2015,2015-08-08 18:00:00,h,2,0.604226,10,5,5,6.6500,7,8,1.0,0,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25355,16133,235,2020,2021-05-23 19:00:00,a,0,0.357583,9,2,0,39.7273,10,3,0.0,0,L
25356,16134,175,2020,2021-05-23 19:00:00,h,0,1.460500,19,5,6,7.5600,13,9,1.0,0,L
25357,16134,181,2020,2021-05-23 19:00:00,a,1,1.380290,10,2,3,14.7200,10,3,0.0,0,W
25358,16135,225,2020,2021-05-23 19:00:00,h,1,0.323960,6,2,1,15.1000,17,2,1.0,0,D
25359,16135,179,2020,2021-05-23 19:00:00,a,1,0.521913,7,1,0,15.9524,9,3,1.0,0,D

In [119]:
import datetime
stat['date'] = pd.to_datetime(stat['date'])

In [120]:
stat = stat.sort_values(by='date')
teamID = 164
match_date = datetime.datetime(2015,1,9)
n_match = 5

In [121]:
team_stat = stat[stat['teamID'] == teamID]
print(team_stat)
team_stat[team_stat['date'] < match_date]

       gameID  teamID  season                date location  goals    xGoals  \
10877    6186     164    2014 2014-08-09 20:00:00        a      3  1.317510
10908    6202     164    2014 2014-08-17 16:00:00        h      0  1.102230
10917    6206     164    2014 2014-08-23 16:00:00        a      1  0.708459
10934    6215     164    2014 2014-08-29 19:30:00        h      4  4.686630
10813    6154     164    2014 2014-09-14 20:00:00        a      3  1.121150
...       ...     ...     ...                 ...      ...    ...       ...
25269   16090     164    2020 2021-04-23 19:00:00        a      3  2.373750
25288   16100     164    2020 2021-04-30 19:00:00        h      1  1.132150
25317   16114     164    2020 2021-05-09 11:00:00        a      0  1.928340
25328   16120     164    2020 2021-05-16 19:00:00        h      3  2.930560
25349   16130     164    2020 2021-05-23 19:00:00        a      1  1.150220

       shots  shotsOnTarget  deep     ppda  fouls  corners  yellowCards  \
10877      9              4     1   4.7826     21        4          1.0
10908     22              5     7   5.1852     18        6          1.0
10917     16              3     3   8.0000     14        6          3.0
10934     20              8     7   6.8929     12       11          1.0
10813      6              3     2   8.1739     11        3          0.0
...      ...            ...   ...      ...    ...      ...          ...
25269     11              6     5  19.3846      2        2          0.0
25288      8              4     5   7.6190     10        5          4.0
25317     15              4     4   6.6071     12        4          3.0
25328     16             11     7  14.4500     16        3          3.0
25349      9              2     3   9.0476      9       10          2.0

       redCards result
10877         0      D
10908         0      L
10917         0      W
10934         0      W
10813         0      W
...         ...    ...
25269         0      W
25288         0      D
25317         0      L
25328         0      W
25349         0      D

[256 rows x 16 columns]

,gameID,teamID,season,date,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result
10877,6186,164,2014,2014-08-09 20:00:00,a,3,1.317510,9,4,1,4.7826,21,4,1.0,0,D
10908,6202,164,2014,2014-08-17 16:00:00,h,0,1.102230,22,5,7,5.1852,18,6,1.0,0,L
10917,6206,164,2014,2014-08-23 16:00:00,a,1,0.708459,16,3,3,8.0000,14,6,3.0,0,W
10934,6215,164,2014,2014-08-29 19:30:00,h,4,4.686630,20,8,7,6.8929,12,11,1.0,0,W
10813,6154,164,2014,2014-09-14 20:00:00,a,3,1.121150,6,3,2,8.1739,11,3,0.0,0,W
10816,6156,164,2014,2014-09-20 16:00:00,h,3,1.497900,16,7,6,7.0385,16,7,1.0,0,W
10835,6165,164,2014,2014-09-23 18:00:00,a,5,3.626650,21,11,7,8.1250,14,6,1.0,0,W
10872,6184,164,2014,2014-09-28 20:00:00,h,2,1.123730,15,8,4,7.6552,8,6,1.0,0,W
10735,6115,164,2014,2014-10-04 16:00:00,a,2,2.731480,22,9,8,4.4167,11,9,1.0,0,W
10766,6131,164,2014,2014-10-19 13:00:00,h,2,1.156650,15,5,4,6.2813,17,9,2.0,0,W
10791,6143,164,2014,2014-10-26 20:00:00,a,0,1.135870,11,4,2,6.3200,19,3,3.0,0,L
10672,6084,164,2014,2014-11-02 20:00:00,h,2,1.557900,15,6,6,6.3462,12,9,2.0,1,W
10693,6094,164,2014,2014-11-09 20:00:00,a,0,0.757773,17,2,5,5.3590,12,8,0.0,1,L
10710,6103,164,2014,2014-11-23 20:00:00,h,3,3.010080,26,12,7,5.6087,11,4,0.0,0,W
10712,6104,164,2014,2014-11-28 19:30:00,h,2,0.769279,15,4,4,4.3571,9,5,1.0,0,W
10577,6036,164,2014,2014-12-02 18:00:00,a,1,1.932310,16,8,8,7.9524,14,5,1.0,0,D
10614,6055,164,2014,2014-12-07 20:00:00,h,3,1.845780,16,7,10,7.8750,9,4,0.0,0,W
10635,6065,164,2014,2014-12-14 20:00:00,a,0,1.470310,10,3,3,3.4571,16,8,2.0,0,L
10650,6073,164,2014,2014-12-21 13:00:00,h,2,1.306720,13,1,4,5.3478,16,10,1.0,0,W

In [90]:
stat_5_match = team_stat[team_stat['date'] < match_date].tail(n_match).sum()

/tmp/ipykernel_23520/2222441676.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  stat_5_match = team_stat[team_stat['date'] < match_date].tail(n_match).sum()

In [91]:
stat_5_match.drop(['gameID','season'],inplace=True)

In [92]:
stat_5_match.values.reshape(1,-1)

array([[820, 'hahah', 8, 7.324399, 70, 23, 29, 28.9894, 64, 32, 5.0, 0,
        'WDWLW']], dtype=object)

In [93]:
pd.DataFrame(stat_5_match.values.reshape(1,-1),columns=stat_5_match.index)

,teamID,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result
0,820,hahah,8,7.324399,70,23,29,28.9894,64,32,5.0,0,WDWLW

In [113]:
def get_stats_previous_matchs(team_id,match_date,n_match=5):
    #root_dir = os.path.dirname(os.path.dirname(__file__))
    csv_path = os.path.join('..', 'raw_data','teamstats.csv')
    stat = pd.read_csv(csv_path).copy()
    stat['date'] = pd.to_datetime(stat['date'])
    stat = stat.sort_values(by='date')
    team_stat = stat[stat['teamID'] == teamID]
    stat_5_match = team_stat[team_stat['date'] < match_date].tail(n_match).sum()
    stat_5_match.drop(['gameID','season'],inplace=True)
    return pd.DataFrame(stat_5_match.values.reshape(1,-1),columns=stat_5_match.index)

In [122]:
stat_marseille = get_stats_previous_matchs(164,datetime.datetime(2014,8,9))

/tmp/ipykernel_23520/123064500.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  stat_5_match = team_stat[team_stat['date'] < match_date].tail(n_match).sum()

In [123]:
stat_marseille

,teamID,location,goals,xGoals,shots,shotsOnTarget,deep,ppda,fouls,corners,yellowCards,redCards,result
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0